header { /* center header */
    text-align: center;
}

#menu-view { /* default font size for menu-view */
    font-size: 12pt; 
}

#menu-view article {
    background-color: #6F77ED;
    color: white;
    border: 5pt solid black;
    border-radius: 0.35em;
    text-align: center;
}

h2 { /* default for all h2 elements */
    font-size: 16pt;
    text-decoration: underline;
}

#start, #dropdown { /* border for start button and time dropdown */
    border: 2pt solid black;
}

#start {
    width: 100px;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}
