body {
    width: 85vw;
    margin: auto;
}

header, #menu-view { /* center header */
    text-align: center;
}

h2 { /* default for all h2 elements */
    font-size: 16pt;
    text-decoration: underline;
}

#menu-view { /* default font size for menu-view */
    font-size: 12pt; 
}

#menu-view article {
    background-color: #6F77ED;
    color: white;
    border: 5pt solid black;
    border-radius: 0.35em;
}

/* start of button styles */
.button{
    border: 2pt solid black;
    background-color: white;

}

#start, #back, #refresh {
    padding: 8px;
    font-size: inherit;
}

#back, #refresh {
    font-size: 12pt;
}

#start { 
    width: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
}
/* end of button styles */

#game-view {
    font-size: 14pt;
}

#details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.5em 0.5em 0 0;
    color: white;
    background-color: black;
}

#game {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 5pt solid black;
    border-top: 0pt;
    padding: 20px;
}

.card { /* layout for set card */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    border: 0.35em solid black;
    border-radius: 1em;
    width: 220px;
    height: 95px;
    margin: 5px 0px;
}

.shape-image {
    height: 85%;
}

.hidden {
    display: none;
}
